<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <link href="/static/www/OpportunityLearning.css" type="text/css" rel="stylesheet" />
    
    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <title>Get Tutoring Today</title>
  </head>

  <body>
    <header>
      <a id="logo" href="/www" class="pull-left"><img src="/static/Assets/0.5x/Artboard1@0.5x.png"  width="230"></a> 
      <img id="header" src="/static/Assets/header.png"  width="100%"> 
    </header>

    <main>
        <div class="container text-center">
          <h1> Succeed in Maths </h1>
          <br><br><br>
        </div>
        <div class="row">

          <div id="blurb1" class="col-6">
            <h3> Everything you need to learn for School </h3>
            <p> All levels of mathematics from Year 7 to Year 12, including </p>
            <ul>
               <li>Specialist </li>
                <li>Methods</li>
                <li>Applications</li>
                <li>ONLA preparation</li>
            </ul>
            <br>
            <p>Personalised learning with qualified Australian teachers </p>
            <br>
            <p> One-on-one instruction</p>
          <br>
           <p>Graded practice assessments</p>
          </div>

          <div id="blurb1" class=" blurb1 col-6">
            <h3>Enquire Today</h3>
            <form action="www/submitted" , method="post">
              <label for="name">Your Name</label><br />
              <input type="text" id="name" name="name" value="e.g Kate Smith" size="50"/><br /><br>
      
              <label for="email">Your Email</label><br />
              <input type="email" id="email" name="email" value="e.g. kate.smith@mail.com" size="50"/><br /><br />
      
              <label for="phone">Yuor contact number</label><br />
              <input type="text" id="phone" name="phone" value="e.g. 0412 336 897" size="50"/><br /><br />

              <p> Your State </p>
              <select id="state" name="state">
                <option value="wa">Western Australia</option>
                <option value="act">Australian Capital Territory</option>
                <option value="nsw"> New South Wales</option>
                <option value="qld"> Queensland</option>
                <option value="vic"> Victoria</option>
                <option value="tas"> Tasmania</option>
                <option value="sau""> South Australia</option>
                <option value="nt"> Northern Territory</option>
              
              </select>
              <br>
              <br>
              <p> Your Maths course </p>
              <select id="course" name="course">
                <option value="applications"> Applications</option>
                <option value="methods">Methods</option>
                <option value="specialist">Specialist</option>
                <option value="olna">ONLA preparation </option>
              </select>
  
              <br>
              <br>
              <input id="btn2" type="submit" value="Enquire Now" />
            </form>
          </div>
         
        </div>
    </div> 

    <div class="container text-center">
      <br><br><br><br> <br>
      <h1> How we help you learn </h1>
      <br> <br>

  
      <div class="row">

      <div class="col-6">

        <a>
          <img alt="Tutoring" src="/static/Assets/stockphoto.jpg" width="500px">
       </a>
      </div>
      <div id="blurb1" class="col-6">
        <br>
        <br>
        <ul>
          <li> All tutors are qualified Mathematics teachers, experienced with the Australian Curriculum and WACE requirements. </li>
          <br>
          <li> Quality, personalised instruction delivered with the best interactive online technologies. </li>
          <br>
          <li> Tutors use the same high-quality learning packages and software that are used by the best Australian schools. </li>
          <br>
        </ul>
         
        <button onclick="topFunction()" id="myBtn" title="enquire">Enquire Now</button>
      </div>
      <div class="row">
        <br>
        <br>
        <br>
        <div>
    </div>
  </main>

  <script>
    //Get the button
    var mybutton = document.getElementById("myBtn");
    
    // When the user scrolls down 20px from the top of the document, show the button
    window.onscroll = function() {scrollFunction()};
    
    function scrollFunction() {
      if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
        mybutton.style.display = "block";
      } else {
        mybutton.style.display = "none";
      }
    }
    
    // When the user clicks on the button, scroll to the top of the document
    function topFunction() {
      document.body.scrollTop = 0;
      document.documentElement.scrollTop = 0;
    }
    </script>
      <!-- Optional JavaScript -->
      <!-- jQuery first, then Popper.js, then Bootstrap JS -->

      <script
        src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"
      ></script>
      <script
        src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"
      ></script>
      <script
        src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"
      ></script>
    
  </body>
  <!-- <footer>
    <p>Copyright 2020 </p>
      </footer> -->
</html>
