html {
  background-color: whitesmoke;
}

main {
  position: relative;
}

h1,
h2,
h3 {
  color: #7718a9;
  /*margin: 10px;*/
  font-family: "Helvetica Neue", sans-serif;
  font-weight: bold;
}

header {
}

article {
  padding: 4em;
}

form {
  width: 30em;
}

#blurb1 h3 p ul li {
  margin-left: auto;
  margin-right: auto;
}

#contactForm form {
  margin-left: auto;
  margin-right: auto;
}

.glyphicon {
  margin-right: 0.5em;
}

input, select {
  margin-top: 5px;
  margin-bottom: 10px;
  width: 30em;
}

li {
  padding: .8em;
}

ul {
  margin: 2em;
}

#myBtn {
  width: 15em;
  margin-left: auto;
  margin-right: auto;
}

.button {
  margin-top: 15px;
  color: #EEEEEE;
  background-color: #7718a9;
  border-radius: 4px;
  font-weight: bolder;
}

.button:hover {
  color: white;
  background-color: #7920b1;
}

.form-control {
  background-color: ghostwhite;
}

#blurb2 .row {

  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;
}

#blurb1 {
  text-align: -webkit-center;
  text-align: center;
}

#blurb1-cont {
  display: inline-block;
  text-align: left;
}
