.row {
  padding: 40px;
}

html {
  background-color: whitesmoke;
}

main {
  position: relative;
}

h1,
h2,
h3 {
  color: #7718a9;
  margin: 10px;
  font-family: "Helvetica Neue", sans-serif;
  font-weight: bold;
}

header {
}

article {
  padding: 4em;
}

form {
  margin: 10px;
  width: 30em;
}


.glyphicon {
  margin-right: 0.5em;
}

input, select {
  margin-top: 5px;
  margin-bottom: 10px;
  width: 30em;
}

.button {
  margin-top: 15px;
  color: lightgray;
  background-color: #7718a9;
  border-radius: 4px;
}

.button:hover {
  color: white;
  background-color: #7920b1;
}



.form-control {
  background-color: ghostwhite;
}
