header {
  padding-top: 100px;
}

.navbar-brand {
  padding: 10px !important;
  font-size: 30px !important;
}

#myCarousel {
  margin: auto;
}

.row {
  padding: 20px;
}

footer {
  background-color: #343a40 !important;
  color: #fff;
  position: relative;
  bottom: 0;
  width: 100%;
  height: 2rem;
  text-align: center;
}
