header {
}

/* .navbar-brand {
  padding: 10px !important;
  font-size: 30px !important;
} */

/* .navbar {
  background-color: #ca7ce5 !important;
} */
#myCarousel {
  margin: auto;
}

.row {
  padding: 20px;
}

main {
  position: relative;
}

footer {
  background-color: #ca7ce5 !important;
  position: relative;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 2rem;
  text-align: center;
}

h1,
h2,
h3 {
  color: #7718a9;
}

#blurb1 {
  padding-left: 10%;
}

#myBtn {
  background-color: #ca7ce5 !important;
  color: white;
  margin: auto;
  display: block;
}

#btn2 {
  background-color: #ca7ce5 !important;
  color: white;
}

form {
  width: 300px;
}
